<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>


<%= link_to("Tasks", {controller: 'tasks', action: 'index', page: 1}) %><br/>
<%= link_to("About", {controller: 'main', action: 'about', id: 20, page: 5}) %><br/>